# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/
.venv/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log 

.env
1747181578402_spec-tugas-STBI-2025.pdf
